/*//////////////////////////////////////////////////////////////////////////////////////////////////////

    Creation Date: 04/19/2026
    Last Update: 04/19/2026
    Created by: Eriksander P. Silva
    Name: media.css
    Description: This file contains the whole system of classes for the media queries in the HTML.

//////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 1080px) {
    .mobile-index {
        display: none;
    }
}

@media (max-width: 768px) {

    body {
        width: 100vw;
    }

    header {
        position:fixed;
        align-items: start;

        height: 5vh;
        padding: 20px 0;
        z-index: 1000;
    }

    .mobile-index {
        z-index: 999;
    }

    main {
        padding-top: 8vh;
    }

    .title {
        font-size: 18px;
    }
    .subtitle {
        font-size: 14px;
    }

    .logo {
        width: 20%;
        margin-right: 0;
    }

    .sidebar {
        display:none;
    }

    .sidebar-pages {
        display:none;
    }

    .corpo {
        width: 95vw;
        max-width: 95vw;
        border-left: none;
        border-right: none;
    }

    .corpo-text {
        max-width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .c-title {
        max-width: 100vw;

        font-size: 20px;
        text-align: center;
    }

    .c-subtitle {
        max-width: 100vw;

        font-size: 16px;
    }

    .c-paragraph {
        max-width: 100vw;

        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
    }

    .c-paragraph2 {
        max-width: 100vw;

        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
    }

    .c-timeline-box {
        max-width: 100vw;

        font-size: 14px;
        line-height: 1.6;
        text-align: left;
    }


    .c-lateral-subtitle {
        max-width: 100vw;

        font-size: 16px;
    }

    .c-box, .c-box-code {
        max-width: 80vw;

        font-size: 14px;

        margin-left: 0;
        margin-right: 0;
        padding: 4%;
    }

    .c-image {
        max-width: 100vw;
    }

    footer {
        height: 55vh;
        padding: 20px 0;
    }

    .footer-box {
        display: flow;
        justify-content: left;
        align-items: left;
        text-align: left;
        gap: 25px;

        max-width: 50vw;
    }

    .info, .social-media, .index {
        display: grid;
        justify-content: left;
        justify-items: left;

        width: 100%;
    }

    .info {
        text-align: justify;
    }

    .social-media a,
    .index a {
        display: flex;
        margin: 0;
    }

    .credits {
        margin-top: 30%;
    }

}       
